* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.header {
    position: relative;
    display: inline-block;
    Width:100%;
    Height: 740px;
    
}

h2 {
    position: absolute;
    top:250px;
    word-wrap: break-word;
    color: var(--White, #FFF);
    text-align: center;
    font-family: Oswald;
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.28px;
    text-transform: uppercase;
}

.fonwais {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(centr);
    Width: 1110px;
    Height: 300px;
    Top: 440px;
    Left: 405px;
    background-color: white;
}

.konteiner {

    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.orange {
    font-size: 72px;
    color: var(--Accent, #F7654A);
}

.black {
    color: #000;
    font-size: 36px;
}

.text {
    color: var(--gray, #999);
    font-size: 18px;
    ;
}

p {

    text-align: center;
    font-size: 32px;
    padding-top: 20px;

}